* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: #ecf0f3;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    box-shadow: 6px 6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, 1.6);
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    box-shadow: inset -4px -4px 10px #fff, inset 1px 1px 10px rgba(0, 0, 0, 1.6);
    border: none;
    border-radius: 30px;
    color: black;
    background-color: #ecf0f3;
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;
}

button {
    box-shadow: 6px 6px 13px #fff, 6px 6px 10px rgba(0, 0, 0, 1.6);
    border: none;
    border-radius: 50%;
    color: black;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ecf0f3;
}

.equal {
    width: 120px;
    border-radius: 40px;
}